.leftArea, .rightArea {
	height: 100%;
	float: left;
}

.leftArea {
	width: 20%;
	background-color: rgb(233,71,69);
}
.rightArea {
	width: 80%;
}

#fileUpload {
	visibility: hidden;
}


/* Picture part */
#uploadedPic {
	height: 100%;
	visibility: hidden;
}

.campaignPicArea {
	visibility: hidden;
}

.pictureArea {
	height: 100%;
}

.upperPicArea {
	text-align: center;
	height: 80%;
}

.lowerPicArea {
	padding: 60px;
	text-align: center;
	height: 20%;
}