/* Reset */
html, body {
	height: 100%;
}

/* Main */
/* Top banner */
.topbanner {
	height: 20px;
	background-color: rgb(233,71,69);
}
.logo {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 200px;
	height: 200px;
}
h1 {
	font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(233,71,69);
	margin: 0;
}

.demo-logo {
	margin: 0 auto;
	text-align: center;
}

.demo-logo small {
	color: rgba(52, 73, 94);
	display: block;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0;
	padding-top: 5px;
}

/* Content */
.content {
	height: -moz-calc(100% - 20px);
	height: -webkit-calc(100% - 20px);
	height: calc(100% - 20px);
}

#create, #analytics, #home {
	height: 100%;
}

/* Menu */
.menu-btns {
	max-width: 300px;
	padding: 10px;
	margin: auto;
}

.menu-btn {
	width: 100%;
}
